@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
  /* Slate 800 */
  --primary: #0284c7;
  /* Sky 600 */
  --secondary: #38bdf8;
  /* Sky 400 */
  --accent: #f0f9ff;
  /* Sky 50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}